{% extends "data/form_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor%}
{% endif%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">School</th>
                            <th scope="col">email</th>
                            <th scope="col">Parent Name</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Alternate Contact Number</th>
                            <th scope="col">Source of Enquiry</th>
                            <th scope="col">Enquiry Date</th>
                            <th scope="col">Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for data in Data%}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td style ="word-break:break-all;"> {{data.name }}</td>
                                <td style ="word-break:break-all;"> {{data.grade}}</td>
                                <td style ="word-break:break-all;"> {{data.school}}</td>
                                <td style ="word-break:break-all;"> {{data.email}}</td>
                                <td style ="word-break:break-all;"> {{data.parent_name}}</td>
                                <td style ="word-break:break-all;"> {{data.contact_number}}</td>
                                <td style ="word-break:break-all;"> {{data.alternate_contact_number}}</td>
                                <td style ="word-break:break-all;"> {{data.enquiry_source}}</td>
                                <td style ="word-break:break-all;"> {{data.enquiry_date}}</td>
                                <td style ="word-break:break-all;"> {{data.remark}}</td>
                                <td>
                                    <div class="app-search dropdown">
                                        <form action="{% url 'data-entry' %}" method="GET">
                                            <input type="hidden" name="data_id" value="{{data.id}}">
                                            <button class="input-group-text btn-primary" type="submit">Update</button>
                                        </form>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
                                

                
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}

        